<!DOCTYPE html>
<html lang="en">
<head>
{{>headerLink}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <!-- <figure src="images/about.png" class="img-fluid" title="Sajal Aggarwal"></figure> -->
                        <img src="images/40.png" alt="nope" width="200px">
    
                        <h1>{{errorMsg}}</h1>
        
                        <a href="/"><button>GO BACK</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>

{{>footer}}

</body>
</html>