<!DOCTYPE html>
<html lang="en">
<head>
{{>headerLink}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <!-- <figure src="images/about.png" class="img-fluid" title="Sajal Aggarwal"></figure> -->
                        <img src="images/about.png" alt="nope" width="100%">
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the About Section</p>
                        <h1>Hi!! I am  <span class="text_clr">Sajal Aggarwal</span></h1>
                        <h1>I am a <span class="text_clr">Mern Stack Developer</span></h1>
                        <a href="https://sajal-2003.github.io/Portfolio/" target="_blank"><button>ABOUT ME</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>

{{>footer}}

</body>
</html>